*.resharper*
_ReSharper*
*.log
bin
obj
log
*.suo
*.pidb
JelloScrum.xml
JelloScrum.XML
partcover-*.xml
*.bak
JelloScrum/.xml
*.user
Release
Debug
TestResult.xml
*avatars*
Thumbs.db
Libs/Coverage/report.xslt
Libs/Coverage/result.*
*.userprefs